node_modules
Dockerfile*
.env
Jenkinsfile
.dockerignore
.git
.gitignore
.idea
README.md
*.md
packages/*/dist
packages/*/storybook-static
packages/*/node_modules
packages/*/out
apps/*/dist
apps/*/storybook-static
apps/*/out
apps/*/node_modules