# publiczne
HTTP_PORT=80
HTTPS_PORT=443

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_HOST_PORT=5432
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_HOST_PORT=27017

ADMINER_PORT=8082
MONGO_EXPRESS_PORT=8081
JENKINS_HTTP_PORT=8080
JENKINS_JNLP_PORT=50000
GITEA_HTTP_PORT=3001
GITEA_SSH_PORT=2222

# app env
BACKEND_PORT=3001
APP_ENV_FILE=
