# app env
APP_ENV_FILE=

##########################
# Node
PORT=
NODE_ENV=
SSL=
APP_URL=
PUBLIC_URL=

# Nest
NEST_PORT=

# Mongo_db
MONGO_DB_USER=
MONGO_DB_PASSWORD=
MONGO_DB_ADDRESS=
MONGO_DB_PORT=
MONGO_DB_NAME=

# Sql
POSTGRES_DB_HOST=
POSTGRES_DB_PORT=
POSTGRES_DB_NAME=
POSTGRES_DB_USER=
POSTGRES_DB_PASSWORD=

# Session
SESSION_SECRET=

# Jwt
JWT_SECRET=
JWT_REFRESH_SECRET=

# CSRF
CSRF_SECRET=

# Mailing
EMAIL_SENDER=
EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASS=

# Monitoring
SENTRY_DNS=
SENTRY_AUTH_TOKEN=
SENTRY_ORG=
SENTRY_PROJECT=

# NewRelic
NEW_RELIC_API_KEY=
NEW_RELIC_APP_NAME=

# Chromatic
CHROMATIC_PROJECT_TOKEN=

# publiczne
HTTP_PORT=
HTTPS_PORT=

# panele przez tunel
ADMINER_PORT=
MONGO_EXPRESS_PORT=

JENKINS_HTTP_PORT=
JENKINS_JNLP_PORT=

GITEA_HTTP_PORT=
GITEA_SSH_PORT=

REDIS_PORT=