node_modules

package-lock.json

/packages/**/img/uploads/*
/packages/**/dist
/packages/**/node_modules
/packages/**/package-lock.json
/packages/**/logs
/packages/**/drizzle
/packages/**/migrations
/packages/**/.env

.terraform
.terraform.lock.hcl
.terraform.tf*
terraform.tf*

.DS_Store
/dist

/test/e2e/videos/
/test/e2e/screenshots/
# local env files
.env

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# testing
/coverage
/allure-report
/test-results
/allure-results
/playwright-report

# production
/build

# files
/packages/backend/savedFiles