JWT_SECRET_TOKEN=
JWT_REFRESH_SECRET_TOKEN=
JWT_EXPIRATION_SECRET=
JWT_EXPIRATION_REFRESH_SECRET=

DOMAIN=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

#REDIS_HOST=redis
REDIS_HOST=
REDIS_PORT=

PORT=
UPLOAD_DIR=
#NODE_ENV=development

NEXT_PUBLIC_API_URL=
